.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    -ms-flex: 50%; /* IE 10 */
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

  .btn{
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #ddd;
    color: violet;
    font-weight: bold;
}
.btn:hover:not(.active){
    background-color: #bbb;
    color: red;
    font-weight: bold;
}

.btn.active{
    background-color: black;
    color: wheat;
}